body {
  font-family: 'Lilita One', cursive;
  text-align: center;
  color: #2B4F60;
}

nav {
  background-color: #2B4F60;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bolder;


}

a {
  text-decoration: none;
  color: #BDC7C9;
}

a:hover {
  color: #845460;
}

.title {
  background: #ead3cb;

}

.logo {
  align-items: center;
  padding-bottom: 10%;
}

.logo-top {
  padding: 15% 0;

}

.top {
  font-family: 'Ubuntu Mono-light', monospace;
  padding: 0 15px;
}

h1 {
  font-family: 'Lobster', cursive;
  size: 3rem;
  line-height: 1.5;
  color: #845460;
  letter-spacing: 10px;
}

.container-fluid {
  padding: 0 10%;
}
.navigate{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
}

.premium {
  padding: 7%;
}

.link-button {
  color: #845460;
  font-size: 2rem;
  margin: 10px;
  padding: 0 3px;
  border-radius: 40%;
}

h2 {
  font-size: 5rem;
  padding: 5%;
  color: #845460
}


.ice-cream {
  padding-top: 5px;
  size: 3rem;
}

.fas {
  color: #ead3cb;
}

.sabores {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍦</text></svg>") 16 0, auto;
  /*!emojicursor.app*/
  margin: 1%;
}

.sabor {
  padding: 5px;
}

.flavour {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-style: none;
}

.flavour:hover {
  border-style: solid;
  border-color: #845460;
}

/* .flavour1{
  background-image: url("images/sabor1.png");
}
.flavour2{
  background-image: url("images/sabor2.png");
}
.flavour3{
  background-image: url("images/sabor3.png");
}
.sabor4{
  background-image: url("images/sabor4.png");
}
.sabor5{
  background-image: url("images/sabor5.png");
}
.sabor6{
  background-image: url("images/sabor6.png");
}
.sabor7{
  background-image: url("images/sabor7.png");
}
.sabor8{
  background-image: url("images/sabor8.png");
} */


.scoop3,
.scoop5 {
  display: inline-table;
  margin: 0 5% 0 10%;
  justify-content: flex-end;
}

.precos {
  background-color: #ead3cb;
  padding: 11% 1%;
  color: #2B4F60;
}

.price-number {
  display: inline-block;
}

.historia {
  margin: 3%;
}

.kaka-photo {
  text-align: center;
  margin: 3%;
  color: #2B4F60;
}

.kaka {
  width: 60%;
  border-radius: 100%;
}

.description {
  padding: 10%;
  size: 3rem;
  background-color: #BDC7C9;
  margin: 40px 50px;

}

footer {
  background-color: #845460;
  color: white;
  margin-bottom: 0;

}
